*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    
    height: 70vh;
    width: 70vw;
    margin:10vh auto ;
    padding:2%;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    box-shadow: 0px 0px 10px;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #b92b27, #1565c0);
    
}
.position{
    margin-top: 50px;
    font-size: large;
    color: white;
}
.text{
    width: 50%;
}
h1{
    font-weight: bold;
    color: white;
}
.shoe{
    position:absolute;
    right:-15%;
    top:6%;
    img{
            height: 27%;
            width: 50%;
    }
}
.shoe:hover{
    right: 10px;
    img{
        width: 80%;
        height: 80%;
    }
}