.{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width: 100vw;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 533px;
    width: 800px;
    background-color: red;
    overflow: hidden;
}
@media (width <=1024px)and (height<=308px)
{
    .main{
        width: 600px;
        height: auto;
    }
}